mmo-ecc-dyn-processor-refdata-workflow/.vscode/extensions.json
mmo-ecc-dyn-processor-refdata-workflow/.vscode/launch.json
mmo-ecc-dyn-processor-refdata-workflow/.vscode/settings.json
mmo-ecc-dyn-processor-refdata-workflow/.vscode/tasks.json
mmo-ecc-dyn-processor-workflow/.vscode/extensions.json
mmo-ecc-dyn-processor-workflow/.vscode/launch.json
mmo-ecc-dyn-processor-workflow/.vscode/settings.json
mmo-ecc-dyn-processor-workflow/.vscode/tasks.json
mmo-ecc-dyn-processor-workflow/workflow-designtime/host.json
mmo-ecc-dyn-processor-workflow/workflow-designtime/local.settings.json
mmo-fes-processor-document-case-creation/workflow-designtime/host.json
mmo-fes-processor-document-case-creation/workflow-designtime/local.settings.json
eutd-mmo-fes-logic-apps-workspace.code-workspace
mmo-ecc-dyn-processor-refdata-workflow/workflow-designtime/host.json
mmo-ecc-dyn-processor-refdata-workflow/workflow-designtime/local.settings.json
.azurite
mmo-fes-processor/workflow-designtime
