parameters:
  - name: deployFromFeature
    displayName: "Deploy from Feature Branch"
    type: boolean
    default: false
  - name: deployToSecondaryRegion
    displayName: "Deploy to Secondary Region for DR"
    type: boolean
    default: false

trigger:
  branches:
    include:
      - 'main'
      - 'develop'
      - 'hotfix/*'
      - 'feature/*'
pr:
  branches:
    include:
      - "main"
      - "develop"
			
resources:
  repositories:
    - repository: MMOPipelineCommon
      name: "DEFRA/eutd-mmo-fes-pipeline-common"
      endpoint: DEFRA
      type: github
      ref: refs/heads/main

extends:
  template: /includes/workflow-deployment.yaml@MMOPipelineCommon
  parameters:
    deployFromFeature: ${{ parameters.deployFromFeature }}
    deployToSecondaryRegion: ${{ parameters.deployToSecondaryRegion }}
