trigger:
  branches:
    include:
      - "main"
 
resources:
  repositories:
    - repository: MMOPipelineCommon
      name: mmo-fes-central-ado-pipeline-templates
      type: git
      ref: main

extends:
  template: /includes/workflow-deployment.yaml@MMOPipelineCommon
 